<div class="select-template-page">
  <div class="container-fluid">
    <div class="section-heading">
      <h2 class="dark-heading">Create a free landing page</h2>
      <p class="subheading">Select from the following categories:</p>
    </div>
    <div class="select-templates">
      <div class="row">
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/create-from-scratch.png">
            </a>
            <h5>Create from scratch</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/sell-your-domain.png">
            </a>
            <h5>Sell your domain</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/contact-us.png">
            </a>
            <h5>Contact us</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/newsletter-subscription.png">
            </a>
            <h5>Newsletter subscription</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/product-showcase.png">
            </a>
            <h5>Product showcase</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="template-box">
            <a href="#">
              <img src="assets/images/count-down-timer.png">
            </a>
            <h5>Countdown timer</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>