<header class="builder-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-auto">
        <div class="logo-wrap">
          <a href="#">
            <img src="assets/images/white-logo.png" alt="for sell logo">
          </a>
        </div>
      </div>
      <div class="col-lg">
       <div class="header-text">
         <h5 class="website-name">Website name</h5>
         <p><i class="fa fa-info-circle" aria-hidden="true"></i> This site is currently unpublished.</p>
       </div>
      </div>
      <div class="col-lg">
       <div class="header-right-btn">
         <a href="#" class="btn header-btn preview-btn">Preivew</a>
         <a href="#" class="btn header-btn publish-btn">Publish</a>
       </div>
      </div>
    </div>
  </div>
</header>
