<div class="transfer-domains-page">
  <div class="container-fluid">
    <div class="top-filters">
      <div class="row">
        <div class="col-lg-4">
          <div class="theme-select">
            <select>
              <option selected>Purchasing</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="theme-select">
            <select>
              <option selected>All Domains (2)</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="theme-select">
            <select>
              <option selected>Sort by (Date)</option>
              <option>Sort by (Alphabetics)</option>
              <option>Sort by (Type)</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="domain-cards">
      <div class="row">
        <div class="col-lg">
          <div class="domain-card card-style-1">
            <div class="card-top-elements row">
              <div class="card-name col"><p>John</p></div>
              <div class="card-status col" style="display: none;"><p>Pending Payments</p></div>
              <div class="card-date col">
                <p>Jan 12, 05:45 PM</p>
                <span class="gray-text">Offered</span>
              </div>
            </div>
            <div class="card-middle-elements">
              <h4 class="domain-name">abc.com</h4>
              <h3 class="domain-price">$480</h3>
            </div>
          
            <div class="card-bottom-elements row">
              <div class="card-bottom-left col"></div>
              <div class="card-bottom-middle col-8">
                <a href="#" class="card-btn purpel-btn">Pay Now</a>
              </div>
              <div class="card-bottom-right col card-dropdown">
                <div class="btn-group dropright">
                  <button type="button" class="btn card-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg">
          <div class="domain-card card-style-1">
            <div class="card-top-elements row">
              <div class="card-name col"><p>John</p></div>
              <div class="card-status col" style="display: none;"><p>Pending Payments</p></div>
              <div class="card-date col">
                <p>Jan 12, 05:45 PM</p>
                <span class="gray-text">Offered</span>
              </div>
            </div>
            <div class="card-middle-elements">
              <h4 class="domain-name">abc.com</h4>
              <h3 class="domain-price">$480</h3>
            </div>
          
            <div class="card-bottom-elements row">
              <div class="card-bottom-left col"></div>
              <div class="card-bottom-middle col-8">
                <a href="#" class="card-btn green-btn">Confirm Transfer</a>
              </div>
              <div class="card-bottom-right col card-dropdown">
                <div class="btn-group dropright">
                  <button type="button" class="btn card-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>