@import "../../variables.scss";

.account-page {
    min-height: calc(100vh - 165px);
    display: flex;
    display: -webkit-flex;
    display: wrap;
    align-items: center;
    justify-content: center;
}
app-forgot-password {
    width: 100%;
}