<div class="forgot-password-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="assets/images/forgot-password.png" alt="Forgot Page Image">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="forgot-pass-form">
          <h2 class="form-heading">Forgot Password?</h2>
          <p class="form-text">enter the email address associated with your account</p>
          <form>
            <div class="a-form-field">
              <label class="field-label">Email Address</label>
              <span class="field-icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span>
              <input type="email" class="form-field" name="email">
              <span class="field-validator-icon validated">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </span>
            </div>
            <div class="a-form-field-submit">
              <button type="submit" class="a-form-btn">Send Email</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>