<header class="dashboard-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <div class="logo-wrap">
          <a href="#">
            <img src="assets/images/logo.png" alt="for sell logo">
          </a>
        </div>
      </div>
      <div class="col">
        <div class="header-right">
          <ul>

            <li>
                <a href="#">
                  <span class="menu-item-name">Messages</span> <span class="notification-dot"></span>
                </a>
            </li>

            <li>
              <div class="dropdown light-dropdown account-dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/images/profile-user.jpg" alt="User Image">
                  <span class="menu-item-name">John <i class="fa fa-caret"></i></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
