<header class="account-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="logo-wrap">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="Main Logo">
                    </a>
                </div>
            </div>
            <div class="col">
                <nav class="account-menu-wrap">
                    <ul>
                        <li>
                            <a routerLink="login" class="account-btn white-btn">Sign In</a>
                        </li>
                        <li>
                            <a routerLink="sign-up" class="account-btn purple-btn">Sign Up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
