<header class="account-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-sm">
                <div class="logo-wrap">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="Main Logo">
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm">
                <nav class="account-menu-wrap">
                    <ul>
                        <li>
                            <a routerLink="/login" class="theme-btn header-signin">Sign In</a>
                        </li>
                        <li>
                            <a routerLink="/sign-up" class="theme-btn header-signup">Sign Up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
