<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="main-page">
    <div class="row no-gutters">
        <div class="col col-lg-auto">
            <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
        <div class="col col-lg">
            <div class="dashboard-content">
                <!-- <app-landing-pages></app-landing-pages> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

