<footer class="account-footer">
  <div class="container-fluid">
    <div class="footer-top">
      <nav class="footer-menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <p class="copyright-text">&copy; Copyright 2020 reserved for Forsell</p>
    </div>
  </div>
</footer>