<div class="sidebar-panel">
  <div class="sp-top-text">
    <p>These settings are applied sitewide and control things like domain names, SEO, and more.
    </p>
  </div>
  <div class="sp-menu-wrap">
    <nav class="sp-menu">
      <ul>
        <li>
          <a routerLink="general-settings"><i class="fa fa-cog" aria-hidden="true"></i> General</a>
        </li>
        <li>
          <a routerLink="domain-settings"><i class="fa fa-compass" aria-hidden="true"></i> Domain</a>
        </li>
      </ul>
    </nav>
  </div>
</div>