$grayColor: #f0edf8;
$lightGrayColor: #f8f7fc;
$purpalColor: #7e0ada;
$grayText: #636363;
$darkText: #545454;
$purpalGradient: linear-gradient(90deg, rgba(68,13,216,1) 0%, rgba(126,10,218,1) 60%);

.dashboard-sidebar
{
    background-color: $grayColor;
    border-right: 1px solid #dad7e1;
    width: 300px;
    min-height: calc(100vh - 90px);
    height: 100%;
}
.sidebar-menu
{
    padding-top: 100px;
    ul{
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li a {
            font-size: 22px;
            color: $grayText;
            padding: 10px 30px;
            display: block;
            &:hover
            {
                background: $purpalGradient;
                color: #fff;
                text-decoration: none;
            }
        }
        
        li.active a {
            background: $purpalGradient;
            color: #fff;
        }
    }  
}