@import "../../../variables.scss";
.dashboard-sidebar
{
    background-color: $grayColor;
    border-right: 1px solid #dad7e1;
    width: 300px;
    min-height: calc(100vh - 90px);
    height: 100%;
}
.sidebar-menu
{
    padding-top: 60px;
    ul{
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li a {
            font-size: 18px;
            color: $grayText;
            padding: 7px 30px;
            display: block;
            &:hover
            {
                background: $themeGradient;
                color: #fff;
                text-decoration: none;
            }
        }
        
        li.active a {
            background: $themeGradient;
            color: #fff;
        }
    }  
}
@media only screen and (max-width: 1024px){
    .dashboard-sidebar
    {
        min-height: calc(100vh - 73px);
    }
}