<app-builder-header></app-builder-header>
<div class="main-page">
    <div class="row no-gutters">
        <div class="col col-lg-auto">
            <app-builder-sidebar></app-builder-sidebar>
            <app-builder-sidebar-panel></app-builder-sidebar-panel>
        </div>
        <div class="col col-lg">
            <div class="builder-dashboard-content">
                <router-outlet></router-outlet>
                <!-- <app-domain-settings></app-domain-settings>
                <app-general-settings></app-general-settings> -->
            </div>
        </div>
    </div>
</div>