<app-builder-header></app-builder-header>
<div class="main-page">
    <div class="row no-gutters">
        <div class="col-auto col-lg-auto">
            <app-builder-sidebar></app-builder-sidebar>
         </div>
        <div class="col col-lg">
            <div class="builder-dashboard-content">
                <div class="row no-gutters">                    
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>