<div class="landing-pages-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="lp-card create-lp">
          <a routerLink="/create" routerLinkActive="active" class="lp-link">
            <div class="plus-icon-wrap">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <p>Create New Landing Page</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="lp-card">
            <img src="assets/images/lp-image.png" alt="Landing Page Image">
            <div class="lp-hover-content">
              <a href="#" class="trash-icon"><i class="fa fa-trash" aria-hidden="true"></i></a>
              <div class="hover-content-inner">
                <div class="preview-btn-wrap">
                  <a href="#" class="btn preview-btn">Preview</a>
                </div>
                <div class="open-bulider-wrap">
                  <a href="#" class="underline-link">Open in builder</a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="lp-card">
            <img src="assets/images/lp-image.png" alt="Landing Page Image">
            <div class="lp-hover-content">
              <a href="#" class="trash-icon"><i class="fa fa-trash" aria-hidden="true"></i></a>
              <div class="hover-content-inner">
                <div class="preview-btn-wrap">
                  <a href="#" class="btn preview-btn">Preview</a>
                </div>
                <div class="open-bulider-wrap">
                  <a href="#" class="underline-link">Open in builder</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>