<div class="general-settings-page">
  <div class="container-fluid">
    <div class="page-heading">
      <h1>General</h1>
    </div>
    <div class="settings-section-wrap site-name">
      <div class="row">
        <div class="col-lg-6">
          <div class="settings-text">
            <h4 class="settings-heading">Name</h4>
            <p>Common Name that you will use to reference your site.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="settings-section right-sided">
            <input type="text" class="simple-input" placeholder="website name" name="website-name">
          </div>
        </div>
      </div>
    </div>

    <div class="settings-section-wrap tags-settings">
      <div class="row">
        <div class="col-lg-6">
          <div class="settings-text">
            <h4 class="settings-heading">Tags</h4>
            <p>Choose up to six tags for your site. Tags must contain a minimum of 3 characters. Seperate tag with comma.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="settings-section right-sided">
            <input type="text" class="simple-input" placeholder="website tags" name="website-tags">
          </div>
        </div>
      </div>
    </div>

    <div class="settings-section-wrap favicon-settings">
      <div class="row">
        <div class="col-lg-6">
          <div class="settings-text">
            <h4 class="settings-heading">Favicon</h4>
            <p>Please use a square image saved as an ".ico" file. You can conver your images to ICO format using <a href="#" target="_blank">ICO Coverter</a></p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="settings-section right-sided">
            <input type="file" class="simple-input file-input" name="website-favicon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>