<div class="create-landing-page">
  <div class="container-fluid">
    <div class="clp-form-wrap">
      <div class="section-heading">
        <h2 class="dark-heading">Create a free landing page</h2>
        <p class="subheading">Select from the following categories:</p>
      </div>
      <form>
        <div class="radio-options-wrap">
          <div class="radio-option">
            <label>
              <input type="radio" name="create-lp" value="product">
              <div class="option-box">
                <img src="assets/images/products-icon.png" alt="Product" class="option-image">
                <img src="assets/images/products-icon-white.png" alt="Product" class="option-image-white">
                <span class="radio-option-text">Products</span>
              </div>
            </label>
          </div>
          <div class="radio-option">
            <label>
              <input type="radio" name="create-lp" value="service">
              <div class="option-box">
                <img src="assets/images/services-icon.png" alt="Service" class="option-image">
                <img src="assets/images/services-icon-white.png" alt="Service" class="option-image-white">
                <span class="radio-option-text">Service</span>
              </div>
            </label>
          </div>
          <div class="radio-option">
            <label>
              <input type="radio" name="create-lp">
              <div class="option-box">
                <img src="assets/images/website-icon.png" alt="Website" class="option-image">
                <img src="assets/images/website-icon-white.png" alt="Website" class="option-image-white">
                <span class="radio-option-text">Website</span>
              </div>
            </label>
          </div>
          <div class="radio-option">
            <label>
              <input type="radio" name="create-lp" value="domain">
              <div class="option-box">
                <img src="assets/images/domain-icon.png" alt="Domain" class="option-image">
                <img src="assets/images/domain-icon-white.png" alt="Domain" class="option-image-white">
                <span class="radio-option-text">Domain</span>
              </div>
            </label>
          </div>
          <div class="radio-option">
            <label>
              <input type="radio" name="create-lp" value="other">
              <div class="option-box">
                <img src="assets/images/other-icon.png" alt="Other" class="option-image">
                <img src="assets/images/other-icon-white.png" alt="Other" class="option-image-white">
                <span class="radio-option-text">Other</span>
              </div>
            </label>
          </div>
        </div>
        <div class="form-fields">
          <div class="row">
            <div class="col-lg">
              <div class="form-field theme-field">
                <input type="text" placeholder="Project Name" name="project-name">
              </div>
            </div>
            <div class="col-lg">
              <div class="form-field theme-field">
                <select>
                  <option selected disabled>Select Industry</option>
                  <option>IT</option>
                  <option>Food</option>
                  <option>Consultancy</option>
                  <option>Education</option>
                  <option>Clothes</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-note">
          <p>By adding a domain, you agree to our <a href="#">Terms of Services</a> and <a href="#">Privacy Policy</a></p>
        </div>
        <div class="form-btn-wrap">
          <button type="submit" class="btn form-btn" routerLink="/select-template">Create Landing Page</button>
        </div>
      </form>
    </div>
  </div>
</div>