/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: nexaBold;
    src: url(assets/fonts/nexa-bold.woff);
}
@font-face {
    font-family: nexaBook;
    src: url(assets/fonts/nexa-book.woff);
}
@font-face {
    font-family: nexaRegular;
    src: url(assets/fonts/nexa-regular.woff);
}
@font-face {
    font-family: nexaThin;
    src: url(assets/fonts/nexa-thin.woff);
}

body{
    font-family: nexaRegular !important;
}
.dashboard-content {
    height: 100%;
    background-color: #f8f7fc;
}
.section-heading {
    text-align: center;
}
.section-heading  h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 0;
    color: #545454;
}
.section-heading p {
    font-size: 16px;
    color: #545454;
}