<div class="signin-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="assets/images/signin-image.png" alt="Signin Page Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="signin-form">
            <h2 class="form-heading text-center">Welcome Back :)</h2>
            <form [formGroup]="formGroup" autocomplete="off">
              <div *ngIf="login_error_msg" class="alert alert-danger" role="alert">
                {{login_error_msg}}
              </div>
                
              <small class="form-error" *ngIf="formGroup.controls['email'].hasError('required') && formGroup.controls['email'].touched">
                Email is required
              </small>
              <small class="form-error" *ngIf="formGroup.controls['email'].hasError('email') && formGroup.controls['email'].touched">
                Invalid email address
              </small>
              
              <small class="form-error" *ngIf="formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched">
                Password is required
              </small>

              <small class="form-error" *ngIf="formGroup.controls['password'].hasError('minlength') && formGroup.controls['password'].touched">
                Minimum length should be 8 characters long
              </small>

              <small class="form-error" *ngIf="formGroup.controls['password'].hasError('maxlength') && formGroup.controls['password'].touched">
                Max length should be 15 characters long
              </small>
              <div class="form-field-wrap">
                <div class="a-form-field">
                  <label class="field-label">Email Address</label>
                  <span class="field-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </span>
                  <input type="email" name="email" formControlName="email" class="form-field">
                  <span class="field-validator-icon validated">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </span>
                </div>

                <div class="a-form-field">
                  <label class="field-label">Password</label>
                  <span class="field-icon">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                  <input class="form-field" [type]="password_type" name="password" formControlName="password">
                </div>
              </div>
      
              <div class="a-form-bottom">
                  <div class="row align-items-center">
                      <div class="col-lg">
                          <div class="remember-me">
                              <label>
                                  <input type="checkbox" name="remember-me">
                                  <span class="checkbox-label">Remember Me</span>
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                      </div>
                      <div class="col-lg">
                          <a routerLink="/forgot" class="gray-link">Forget Password?</a>
                      </div>
                  </div>
              </div>
              
              <div class="a-form-bottom">
                  <div class="row align-items-center">
                      <div class="col-lg">
                          <div class="form-btn-wrap">
                             <button type="submit" class="theme-btn" [disabled]="formGroup.invalid" (click)="login()">Signin</button>
                          </div>
                      </div>
                      <div class="col-lg">
                          <div class="form-btn-wrap">
                            <a  routerLink="/sign-up" class="theme-btn">Create Account</a>
                          </div>
                      </div>
                  </div>
              </div>

            </form>
            
              
            <div class="a-form-bottom"> 
              <div class="social-signin">
                  <p class="gray-text">Or you can join with</p>
                  <div class="social-signin-links">
                      <ul>
                          <li>
                              <a href="#" class="social-icon google">
                                <img src="assets/images/google.png" alt="Google Icon">
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon facebook">
                                <img src="assets/images/facebook.png" alt="Facebook Icon">
                              </a>
                          </li>
                          <li>
                              <a href="#" class="social-icon twitter">
                                <img src="assets/images/twitter.png" alt="Twitter Icon">
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>