<div class="signin-password-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="assets/images/forgot-password.png" alt="Forgot Page Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="signin-form">
            <h2 class="form-heading">Welcome Back :)</h2>
            <form>
              <div class="a-form-field">
                <label class="field-label">Email Address</label>
                <span class="field-icon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
                <input type="email" class="form-field" name="email">
                <span class="field-validator-icon validated">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </span>
              </div>
              <div class="a-form-field">
                <label class="field-label">Password</label>
                <span class="field-icon">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                <input type="password" class="form-field" name="password">
              </div>
              <div class="a-form-bottom">
                  <div class="row">
                      <div class="col-lg">
                          <div class="remember-me">
                              <label>
                                  <input type="checkbox" name="remember-me">
                                  <span class="checkbox-label">Remember Me</span>
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                      </div>
                      <div class="col-lg">
                          <a href="#" class="gray-link">Forget Password?</a>
                      </div>
                  </div>
              </div>
              
              <div class="a-form-bottom">
                  <div class="row">
                      <div class="col-lg">
                          <div class="a-form-submit">
                             <button type="submit" class="a-form-btn">Send Email</button>
                          </div>
                      </div>
                      <div class="col-lg">
                          <div class="a-form-btn">
                            <a href="#" class="a-form-btn gray-link">Create Account</a>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="a-form-bottom">
                  <div class="social-signin">
                      <p class="gray-text">Or you can join with</p>
                      <div class="social-signin-links">
                          <ul>
                              <li>
                                  <a href="#" class="social-icon google">Google</a>
                              </li>
                              <li>
                                  <a href="#" class="social-icon facebook">Facebook</a>
                              </li>
                              <li>
                                  <a href="#" class="social-icon twitter">Twitter</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>